.dropdown-wrapper {
  margin: 0 25px;
}

.toggler::after {
  display: none !important;
}

.toggler:focus {
  box-shadow: none !important;
}

.label {
  color: #9ea0a5;
}

.menu {
  width: 250px;
  margin-left: -80px !important;
  padding: 10px 15px !important;
}

.options,
.options:hover {
  text-decoration: none;
  color: #1f2a36;
}

@media only screen and (max-width: 1200px) {
  .dropdown-wrapper {
    margin: 0 10px;
  }
}
