@media (min-width: 576px) {
  .image-bg {
    width: 1306px;
    height: 330px;
  }
}

@media (min-width: 992px) {
  .image-bg {
    width: 1536px;
    height: 330px;
  }
}
#btn-yellw {
  border-color: #fbb017;
  color: #fbb017;
  width: "680px";
  margin-left: "26px";
}

#btn-yellw:hover {
  background-color: #fbb017;
  color: white;
}
