.skill-tag {
  padding: 7px 12px;
  background: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  border-radius: 4px;
  width: max-content;
  height: max-content;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin: 0 10px 10px 0;
}
