.header {
  background-color: #5e50a1;
  height: 7vh;
  color: white;
  text-align: start;
}

.bg {
  background-color: gainsboro;
  padding-top: 20px;
  padding-bottom: 20px;
}
#border {
  border-left: 1px #d4d4d4 solid;
  color: gray;
}
#search {
  border-color: white;
}
#form {
  border-radius: 20px;
}
#infoDiri {
  text-align: start;
}
.mappin {
  height: 10px;
  width: 20px;
}
